@model ParkWayProject2.Models.TransferModel

@{
    ViewData["Title"] = "TransferFundsV2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Transfer FundsV2</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="TransferFundsV2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TransferAmount" class="control-label"></label>
                <input asp-for="TransferAmount" class="form-control" />
                <span asp-validation-for="TransferAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="TransferFunds" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="TransferFundsV2">Back to View Charges</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
